$enable-cssgrid: true;

@font-face {
    font-family: VT323;
    src: url(assets/VT323.ttf);
}

* {
    font-family: VT323;
    white-space: nowrap;
}

html,
body,
#app {
    height: 100%;
}

main,
form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@import "../node_modules/bootstrap/scss/bootstrap";